:root {
  --border-colour-fix:  #121212;
}
.header-2TLOnc, .header-2TLOnc.fm-header {
  left: 0px;
  top: 65px;
  padding-top: 15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--border-colour-fix);
  height: relative; 32px;!important
  width: relative; 400px;
  position: relative; top: 64px;
  margin-bottom: 15px;
  padding-bottom: 0px;
}

.container-3eG4QA, .results-2CQlZp {
  margin-top: 52px;
}

.nav-1zWVQw {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--border-colour-fix);
}
.searchBar-2M9mRP {
  height: 32px;
  width: 320px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
#emoji-picker-tab-panel > div.emojiPicker-6YCk8a > div.header-11eigE {
  width: 300px;
  margin-bottom: 40px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px;
  position: relative; top: 55px; left: 55px;
}
.container-1SX9VC, .medium-13kyaW, .disabled-2QaYSb {
  height: 32px;
  width: 360px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}

#app-mount > div:nth-child(7) > div > section > div > div.contentWrapper-3vHNP2 > #sticker-picker-tab-panel > div.header-uVCAlo {
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 40px;
  border-left-width: 0px; 
  position: relative; top: 55px; left: 55px;
}
